.resumePage {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    height: 100vh;
}

.resumePanel {
    background: linear-gradient(#41295a, #2F0743);
}

.formHeading {
    color: blueviolet;
    text-align: center;
}