.intro {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('https://images.unsplash.com/photo-1637825891028-564f672aa42c?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;

}

.intro>img {
    width: clamp(50%, 50vw, 75%);
    margin: auto;
    transform: rotate(-18deg);
}

.intro-content {
    margin: auto;
    font-size: 30px;
}

.intro-content>h1 {
    font-size: clamp(1.333em, 4vw + 1.2em, 4em);
    margin-bottom: 0;
}

.intro-content>p {
    font-size: clamp(1.6rem, 0.619vw + 1rem, 2rem);
}

.seeMoreButton {
    margin: 2rem auto 0 auto;
    translate: -2rem 6rem;
}

.seeMoreButton>p {
    font-size: clamp(1.6rem, 1.329vw + 1rem, 3rem);
}

.arrow-left {
    background-color: white;
    height: clamp(2.4rem, 1.329vw + 2rem, 4rem);
    width: 5px;
    transform: rotate(-45deg);
    display: inline-block;
    animation: glowingArrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.arrow-right {
    background-color: white;
    height: clamp(2.4rem, 1.329vw + 2rem, 4rem);
    width: 5px;
    transform: rotate(45deg);
    display: inline-block;
    translate: clamp(1.4rem, 1.4rem + 0.4vw, 1.9rem) 0px;
    animation: glowingArrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes glowingArrow {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0px 0px 20px 5px white;

    }

    100% {
        box-shadow: none;
    }
}

.first-arrow {
    translate: 0px 20px;
    animation: glowingArrow;
}

.second-arrow {
    translate: 0px 0px;
    animation: glowingArrow;
}

.third-arrow {
    translate: 0px -20px;
    animation: glowingArrow;
}

@media (max-width:1023px) {
    .intro {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
    }

    .intro-content>h1 {
        text-align: center;
    }

    .intro-content>p {
        text-align: center;
        padding: 2rem;
    }

    .seeMoreButton {
        margin: auto;
        translate: 0;
    }

    .arrow-right {
        translate: clamp(1.4rem, 1rem + 0.4vw, 1.9rem) 0px;
    }
}

@media (max-width:700px) {
    .arrow-right {
        translate: clamp(1rem, 1rem + 0.4vw, 1.9rem);
    }
}